:root {
  --accent-color: #ff6c00;
  --white-color: #ffffff;
  --text-dark-color: #303030;
  --top-text-light-color: rgba(157, 164, 189, 0.6);
  --text-grey-color: #555555;
  --text-light-color: #9da4bd;
  --bg-grey-color: #f7f7f7;
}
