.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid green;
  @include mobile {
    width: 480px;
  }
  @include tablet {
    padding-left: 39px;
    padding-right: 39px;
    width: 768px;
  }
  @include desktop {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
  }
}
