.socials {
  display: flex;
}

.socials-hero {
  transform-origin: top left;
  width: 93px;
  padding-left: 23px;
  padding-bottom: 40px;
}

.socials__list {
  display: flex;
  align-items: center;
}

.socials-hero__list {
  transform: rotate(-90deg) translateX(-15px);
  transform-origin: top left;
}

.socials__list::before {
  content: "";

  width: 60px;
  height: 1px;
  background-color: var(--text-dark-color);
  margin-right: 40px;
  display: flex;
}

.socials__item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--text-dark-color);
}

.socials__item + .socials__item {
  margin-left: 40px;
}
