body {
  font-family: "open sans", sans-serif;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  display: block;
  color: currentColor;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -----------HEADER----------- */

.header {
  padding-top: 32px;
  /* padding-bottom: 32px; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header .container {
  display: flex;
  align-items: center;
}

.logo-link {
  color: var(--text-dark-color);
}

.logo-item {
  fill: currentColor;
}

.header-links-list {
  display: flex;
  margin-left: 70px;
}

.header-links-item {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white-color);
}

.header-links-item:not(:first-child) {
  margin-left: 40px;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white-color);
  margin-left: 319px;
  margin-right: 40px;
}

/* -----------HERO----------- */

.hero .container {
  display: flex;
  align-items: flex-end;
}

.hero-soc {
  display: flex;
  transform-origin: top left;
  width: 93px;
  padding-left: 23px;
  padding-bottom: 40px;
}

.hero-socials-list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translateX(-15px);
  transform-origin: top left;
}

.hero-socials-list::before {
  content: "";

  width: 60px;
  height: 1px;
  background-color: var(--text-dark-color);
  margin-right: 40px;
  display: flex;
}

.hero-socials-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--text-dark-color);
}

.hero-socials-item + .hero-socials-item {
  margin-left: 40px;
}

.hero-content {
  padding: 272px 96px 206px 96px;
  padding-right: 452px;
  background-color: var(--text-dark-color);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/bg-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;
}

.hero-title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-color);
}

.about .container {
  display: flex;
}

.about-photos {
  display: flex;
}

/* -----------ABOUT----------- */

.about {
  padding-top: 140px;
  padding-bottom: 120px;
}

.about-content {
  margin-left: 64px;
}

.about-photos-item + .about-photos-item {
  margin-left: 30px;
}

/* -----------PRICES----------- */

/* -----------BENEFITS----------- */

.benefits {
  padding-top: 143px;
  padding-bottom: 137px;
}

.benefits .container {
  display: flex;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}

.benefits-list-item {
  width: 170px;
  height: 133px;
  background-color: var(--bg-grey-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 24px;
}

.benefits-list-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-list-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-number {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  color: var(--text-dark-color);
}

.benefits-number::after {
  position: absolute;
  transform: translateY(10px);
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: var(--accent-color);
  top: 0;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--text-dark-color);
  margin-top: 6px;
}

.benefits-content {
  margin-left: 130px;
}

/* -----------MASTERS----------- */

/* -----------GALERY----------- */

/* -----------CONTACTS----------- */
